.hiden {
    display: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
     max-width: 768px;
}
}
@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;

}

}   


.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)


}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 16px 0;
    display: block;

}
.header-logo .logo-part {
    color: #2e2f42;
}
.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;

}
.burger-icon {
    display: block;
    fill: #2f2f37;
}


@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .header-logo {
    padding: 24px 0;
    margin-right: 120px;
} 
    .header-nav {
    display: flex;
    align-items: center;
}
    .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .nav-link.current {
    position: relative;
}
    .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
    .contacts {
    font-style: normal;

    display: block;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
    .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
    color: #404bbf;
}

}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
    border: none; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:#fff;
}

.mobile-menu-list {
  margin-bottom: auto;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  display: flex;
}
.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts {
    margin-bottom: 48px;
}
.mobile-contacts-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}
.mobile-contacts-link {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.mobile-list-icon {
    display: flex;
    justify-content: flex-start; 
    gap: 40px;
}
.mobile-item-icon {
    display: flex;
    gap: 24px;
    width: 40px;
    height: 40px;
}
.mobile-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);       
}
.mobile-icon {
    fill: #f4f4fd;
}
.mobile-icon-link:hover,
.mobile-icon-link:focus {
    background-color: #404bbf;
}
.mobile-contacts-link.current {
    color: #4d5ae5;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus,
.mobile-menu-link.current {
    color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}